<!-- app/views/citizens/new.html.erb -->

<% if flash.any? %>
    <div class="flash-messages">
        <% flash.each do |key, message| %>
            <div class="<%= key %>">
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>

<section>
  <%= form_with model: @citizen, local: true do |form| %>

    <!-- Campos para Citizen -->
    <div class="field">
      <%= form.label :full_name, "Nome Completo" %>
      <%= form.text_field :full_name, placeholder: "Nome Completo" %>
    </div>

    <div class="field">
      <%= form.label :tax_id, "CPF" %>
      <%= form.text_field :tax_id, placeholder: "CPF" %>
    </div>

    <div class="field">
      <%= form.label :national_health_card, "Cart찾o SUS" %>
      <%= form.text_field :national_health_card, placeholder: "Cart찾o SUS" %>
    </div>

    <div class="field">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, placeholder: "Email" %>
    </div>

    <div class="field">
      <%= form.label :birthdate, "Data de Nascimento" %>
      <%= form.date_field :birthdate, placeholder: "Data de Nascimento" %>
    </div>

    <div class="field">
      <%= form.label :phone, "Telefone" %>
      <%= form.text_field :phone, placeholder: "Telefone" %>
    </div>

    <div class="field">
      <%= form.label :status, "Status" %>
      <%= form.check_box :status %>
    </div>

    <!-- Campos para Address -->
    <%= form.fields_for :address do |address_fields| %>
      <div class="field">
        <%= address_fields.label :zip_code, "CEP" %>
        <%= address_fields.text_field :zip_code, placeholder: "CEP" %>
      </div>

      <div class="field">
        <%= address_fields.label :street, "Logradouro" %>
        <%= address_fields.text_field :street, placeholder: "Logradouro" %>
      </div>

      <div class="field">
        <%= address_fields.label :neighborhood, "Bairro" %>
        <%= address_fields.text_field :neighborhood, placeholder: "Bairro" %>
      </div>

      <div class="field">
        <%= address_fields.label :city, "Cidade" %>
        <%= address_fields.text_field :city, placeholder: "Cidade" %>
      </div>

      <div class="field">
        <%= address_fields.label :state, "Estado" %>
        <%= address_fields.text_field :state, placeholder: "Estado" %>
      </div>

      <div class="field">
        <%= address_fields.label :ibge_code, "C처digo IBGE" %>
        <%= address_fields.text_field :ibge_code, placeholder: "C처digo IBGE" %>
      </div>
    <% end %>

    <%= form.submit @citizen.new_record? ? "Criar" : "Atualizar" %>
  <% end %>
</section>
