<% flash.each do |key, message| %>
  <% if message.present? %>
    <div class="<%= key %>">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>Listagem de Munícipes</h1>

<section>
  <%= form_with url: citizens_path, method: :get, local: true do |form| %>

    <!-- Campos de Filtro para Citizen -->
    <%= form.fields_for :citizen do |citizen_fields| %>
      <%= citizen_fields.text_field :full_name, placeholder: "Nome Completo" %>
      <%= citizen_fields.text_field :tax_id, placeholder: "CPF" %>
      <%= citizen_fields.text_field :national_health_card, placeholder: "Cartão SUS" %>
      <%= citizen_fields.text_field :email, placeholder: "Email" %>
      <%= citizen_fields.date_field :birthdate, placeholder: "Data de Nascimento" %>
      <%= citizen_fields.text_field :phone, placeholder: "Telefone" %>
    <% end %>

    <!-- Campos de Filtro para Endereco -->
    <%= form.fields_for :address do |address_fields| %>
      <%= address_fields.text_field :zip_code, placeholder: "CEP" %>
      <%= address_fields.text_field :street, placeholder: "Logradouro" %>
      <%= address_fields.text_field :neighborhood, placeholder: "Bairro" %>
      <%= address_fields.text_field :city, placeholder: "Cidade" %>
      <%= address_fields.text_field :state, placeholder: "Estado" %>
      <%= address_fields.text_field :ibge_code, placeholder: "Código IBGE" %>
    <% end %>

    <%= form.submit "Filtrar" %>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
    </tr>
  </thead>
  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td><%= citizen.full_name %></td>
        <td><%= citizen.tax_id %></td>
        <td><%= citizen.email %></td>
        <td><%= citizen.phone %></td>
        <td>
          <%= citizen.address.street %>, <%= citizen.address.neighborhood %>, <%= citizen.address.city %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
