<% flash.each do |key, message| %>
  <% if message.present? %>
    <div class="<%= key %>">
      <%= message %>
    </div>
  <% end %>
<% end %>

<style>
    .filter-flex-container {
        display: flex;
        justify-content: space-around;
    }

    .filter-flex-item {
        margin-right: 20px;
    }
</style>

<section>
    <h4>Filtros</h4>

    <%= form_with url: citizens_path, method: :get, local: true do |form| %>

        <div class="filter-flex-container">
            <!-- Campos de Filtro para Citizen -->
            <div class="filter-flex-item">
                <%= form.text_field :full_name, placeholder: "Nome Completo" %>
                <%= form.text_field :tax_id, placeholder: "CPF" %>
                <%= form.text_field :national_health_card, placeholder: "Cartão SUS" %>
                <%= form.text_field :email, placeholder: "Email" %>
                <%= form.date_field :birthdate, placeholder: "Data de Nascimento" %>
                <%= form.text_field :phone, placeholder: "Telefone" %>
            </div>

            <!-- Campos de Filtro para Endereco -->
            <div class="filter-flex-item">
                <%= form.text_field :zip_code, placeholder: "CEP" %>
                <%= form.text_field :street, placeholder: "Logradouro" %>
                <%= form.text_field :neighborhood, placeholder: "Bairro" %>
                <%= form.text_field :city, placeholder: "Cidade" %>
                <%= form.text_field :state, placeholder: "Estado" %>
                <%= form.text_field :ibge_code, placeholder: "Código IBGE" %>
            </div>
        </div>

        <%= form.submit "Filtrar" %>
    <% end %>
</section>

<h1>Listagem de Munícipes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ações</th> <!-- Added a column for actions -->
    </tr>
  </thead>
  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td><%= citizen.full_name %></td>
        <td><%= citizen.tax_id %></td>
        <td><%= citizen.email %></td>
        <td><%= citizen.phone %></td>
        <td>
          <%= citizen.address.street %>, <%= citizen.address.neighborhood %>, <%= citizen.address.city %>
        </td>
        <td>
          <%= link_to 'Editar', edit_citizen_path(citizen), class: "button" %> <!-- Edit link -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
